<footer class="footer" id="contacts">
    <div class="footer__top">
        <div class="footer__row">
            <div class="footer__brand">
                <img class="footer__mark" src="{{ homeAsset }}/img/footer-mark.png" alt="Квартирный вопрос" width="56" height="49">

                <nav class="footer__nav">
                    <div class="footer__nav-col">
                        <a class="footer__link" href="/design-project">Ремонт по дизайн-проекту</a>
                        <a class="footer__link" href="/repairs">Пакетный ремонт</a>
                        <a class="footer__link" href="/portfolio">Портфолио</a>
                        <a class="footer__link" href="/about-company">О нас</a>
                    </div>
                    <div class="footer__nav-col">
                        <a class="footer__link" href="/sotrudnichestvo">Сотрудничество</a>
                        <a class="footer__link" href="/rabota">Карьера</a>
                        <a class="footer__link" href="#contacts">Контакты</a>
                        <a class="footer__link" href="/blog">Блог</a>
                    </div>
                </nav>
            </div>

            <div class="footer__contacts">
                <div class="footer__contacts-col">
                    <a class="footer__phone" href="tel:+79829631283">+7 982 963 12 83</a>
                    <p class="footer__address">Тюмень,<br>ул. Федюнинского, 62</p>
                </div>
                <div class="footer__contacts-col">
                    <a class="footer__link" href="https://vk.com/kv_tumen_design" rel="noreferrer noopener" target="_blank">VK</a>
                    <a class="footer__link" href="https://t.me/kvartirnyyvoprostmn" rel="noreferrer noopener" target="_blank">Telegram</a>
                    <a class="footer__link" href="mailto:info@kv-tyumen.ru">Почта</a>
                    <a class="footer__link" href="https://instagram.com/kv_tyumen" rel="noreferrer noopener" target="_blank">Instagram*</a>
                    <p class="footer__note">*запрещенная в РФ соцсеть компании Meta</p>
                </div>
            </div>
        </div>

        <div class="footer__wordmark">
            <img src="{{ homeAsset }}/img/footer-wordmark.svg" alt="Квартирный вопрос">
        </div>
    </div>

    <a class="footer__policy" href="/policy">Политика обработки персональных данных</a>

    <div class="footer__badge" aria-hidden="true"></div>
    <div class="footer__portrait" aria-hidden="true">
        <img src="{{ homeAsset }}/img/footer-person.svg" alt="">
    </div>
</footer>
