# Статическая конфигурация Traefik

global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO # Для отладки можно временно поставить DEBUG

api:
  dashboard: true
  insecure: true # ВНИМАНИЕ: Не выставляйте порт 8080 наружу на боевом сервере без аутентификации

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: info@kv-tyumen.ru
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

providers:
  docker:
    exposedByDefault: false
