<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-row-top">
            <div class="footer-logo">
                <img class="footer-logo-img" src="/themes/kv-vopros/assets/images/Vector.svg" alt="Логотип">
            </div>
            <div class="footer-links-grid">
                <div class="footer-links-column">
                    <a href="#" class="footer-link">Сотрудничество</a>
                    <a href="#" class="footer-link">Карьера</a>
                    <a href="#" class="footer-link">О нас</a>
                    <a href="#" class="footer-link">Контакты</a>
                </div>
                <div class="footer-links-column">
                    <a href="#" class="footer-link">Ремонт по дизайн-проекту</a>
                    <a href="#" class="footer-link">Пакетный ремонт</a>
                    <a href="#" class="footer-link">Портфолио</a>
                    <a href="#" class="footer-link">Блог</a>
                </div>
                <div class="footer-links-column">
                    <a href="tel:+79829631283" class="footer-link">+7 982 963 12 83</a>
                    <span class="footer-address">Тюмень, ул. Федюнинского, 62</span>
                </div>
                <div class="footer-links-column">
                    <div class="footer-socials">
                        <a href="#" class="footer-link">VK</a>
                        <a href="#" class="footer-link">Telegram</a>
                        <a href="#" class="footer-link">Почта</a>
                        <a href="#" class="footer-link">Instagram*</a>
                    </div>
                    <p class="footer-disclaimer">*запрещенная в РФ соцсеть компании Meta</p>
                </div>
            </div>
        </div>
        <div class="footer-row-bottom">
            <div class="footer-company-name">Квартирный вопрос</div>
        </div>
        <div class="footer-row-legal">
            <a href="#" class="footer-link">Политика обработки персональных данных</a>
            <div class="footer-backlink">
                <a href="https://negodyaev.ru" target="_blank" rel="noopener noreferrer"><img src="/themes/kv-vopros/assets/images/negodyaev.svg" alt="Сделано в Negodyaev"></a>
            </div>
        </div>
    </div>
</footer>