<div class="r t-rec" data-animationappear="off" data-record-type="396" id="rec1531676791" style="">
 <!-- T396 -->
 <div class="t396">
  <div class="t396__artboard" data-artboard-height="650" data-artboard-height-res-320="690" data-artboard-height-res-640="860" data-artboard-recid="1531676791" data-artboard-screens="320,640,1200" data-artboard-upscale="window" data-artboard-valign="center">
   <div class="t396__carrier" data-artboard-recid="1531676791">
   </div>
   <div class="t396__filter" data-artboard-recid="1531676791">
   </div>
   <div class="t396__elem tn-elem tn-elem__15316767911760949327145" data-elem-id="1760949327145" data-elem-type="shape" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-height-res-320-value="428" data-field-height-res-640-value="557" data-field-height-value="603" data-field-heightunits-value="px" data-field-left-res-320-value="58" data-field-left-res-640-value="255" data-field-left-value="791" data-field-leftunits-value="px" data-field-top-res-320-value="318" data-field-top-res-640-value="502" data-field-top-value="255" data-field-topunits-value="px" data-field-width-res-320-value="380" data-field-width-res-640-value="497" data-field-width-value="537" data-field-widthunits-value="px">
    <div aria-label="Квартирный вопрос Цветок на фоне" class="tn-atom t-bgimg" data-original="/themes/kv-vopros/assets/images/tild3463-6361-4462-b730-616665323365______.png" role="img">
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176094962825110540" data-elem-id="176094962825110540" data-elem-type="shape" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-res-320-value="grid" data-field-container-value="grid" data-field-height-res-320-value="651" data-field-height-res-640-value="818" data-field-height-value="903" data-field-heightunits-value="px" data-field-left-res-320-value="-11" data-field-left-res-640-value="-8" data-field-left-value="149" data-field-leftunits-value="px" data-field-top-res-320-value="58" data-field-top-res-640-value="59" data-field-top-value="-26" data-field-topunits-value="px" data-field-width-res-320-value="304" data-field-width-res-640-value="380" data-field-width-value="420" data-field-widthunits-value="px">
    <div aria-label="Квартирный вопрос Лампа на фоне" class="tn-atom t-bgimg" data-original="/themes/kv-vopros/assets/images/tild3139-6139-4763-a464-356236643237______.png" role="img">
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176232250954572970" data-elem-id="176232250954572970" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="16" data-field-fontsize-value="20" data-field-height-value="48" data-field-heightunits-value="px" data-field-left-res-320-value="20" data-field-left-res-640-value="150" data-field-left-value="432" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-320-value="487" data-field-top-res-640-value="732" data-field-top-value="502" data-field-topunits-value="px" data-field-width-res-320-value="262" data-field-width-value="336" data-field-widthunits-value="px">
    <div class="tn-atom" field="tn_text_176232250954572970">
     с нами ремонт – ваш путь к дому, в котором хочется жить
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176231100533571640" data-elem-id="176231100533571640" data-elem-type="shape" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-height-res-320-value="58" data-field-height-res-640-value="56" data-field-height-value="57" data-field-heightmode-res-320-value="fixed" data-field-heightmode-res-640-value="fixed" data-field-heightmode-value="fixed" data-field-heightunits-value="px" data-field-left-res-320-value="0" data-field-left-res-640-value="10" data-field-left-value="17" data-field-leftunits-value="px" data-field-top-res-320-value="0" data-field-top-res-640-value="10" data-field-top-value="17" data-field-topunits-value="px" data-field-width-res-320-value="320" data-field-width-res-640-value="620" data-field-width-value="1166" data-field-widthmode-res-320-value="fixed" data-field-widthmode-res-640-value="fixed" data-field-widthmode-value="fixed" data-field-widthunits-value="px">
    <div class="tn-atom">
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__15316767911760943941674" data-elem-id="1760943941674" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-value="14" data-field-height-value="17" data-field-heightunits-value="px" data-field-left-res-320-value="1990" data-field-left-res-640-value="40" data-field-left-value="965" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-640-value="29" data-field-top-value="37" data-field-topunits-value="px" data-field-width-value="114" data-field-widthunits-value="px">
    <div class="tn-atom">
     <a href="#zeroform" style="color: inherit">
      Заказать звонок
     </a>
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176232367535416880" data-elem-id="176232367535416880" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-value="14" data-field-height-value="17" data-field-heightunits-value="px" data-field-left-res-320-value="1990" data-field-left-res-640-value="2042" data-field-left-value="222" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-640-value="-73" data-field-top-value="37" data-field-topunits-value="px" data-field-width-value="64" data-field-widthunits-value="px">
    <div class="tn-atom">
     <a href="/contacts" style="color: inherit">
      Контакты
     </a>
    </div>
   </div>
   <div class="t396__elem tn-elem menuNolim068 tn-elem__15316767911762311617527" data-elem-id="1762311617527" data-elem-type="image" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fileheight-value="5" data-field-filewidth-value="7" data-field-height-res-320-value="6" data-field-height-res-640-value="6" data-field-height-value="6" data-field-heightmode-value="hug" data-field-heightunits-value="px" data-field-left-res-320-value="2610" data-field-left-res-640-value="1917" data-field-left-value="97" data-field-leftunits-value="px" data-field-top-res-320-value="-66" data-field-top-res-640-value="-66" data-field-top-value="44" data-field-topunits-value="px" data-field-width-value="8" data-field-widthmode-value="fixed" data-field-widthunits-value="px">
    <a class="tn-atom" href="#rec1531686931">
     <img alt="" class="tn-atom__img t-img" data-original="/themes/kv-vopros/assets/images/tild3432-6565-4435-b439-343033393630___.svg" imgfield="tn_img_1762311617527" src="/themes/kv-vopros/assets/images/tild3432-6565-4435-b439-343033393630___.svg"/>
    </a>
   </div>
   <div class="t396__elem tn-elem menuNolim068 tn-elem__1531676791176232363208669570" data-elem-id="176232363208669570" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-value="14" data-field-height-value="17" data-field-heightunits-value="px" data-field-left-res-320-value="2560" data-field-left-res-640-value="1867" data-field-left-value="47" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-320-value="-73" data-field-top-res-640-value="-73" data-field-top-value="37" data-field-topunits-value="px" data-field-width-value="47" data-field-widthunits-value="px">
    <div class="tn-atom">
         <a href="#rec1531686931" class="services-link" aria-expanded="false" style="color: inherit">
      Услуги
     </a>
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__15316767911762323782953" data-elem-id="1762323782953" data-elem-type="image" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fileheight-value="14" data-field-filewidth-value="41" data-field-height-res-320-value="14" data-field-height-res-640-value="14" data-field-height-value="14" data-field-heightmode-value="hug" data-field-heightunits-value="px" data-field-left-res-320-value="259" data-field-left-res-640-value="559" data-field-left-value="1112" data-field-leftunits-value="px" data-field-top-res-320-value="22" data-field-top-res-640-value="31" data-field-top-value="39" data-field-topunits-value="px" data-field-width-value="41" data-field-widthmode-value="fixed" data-field-widthunits-value="px">
    <a class="tn-atom" href="#zeropopup">
     <img alt="" class="tn-atom__img t-img" data-original="/themes/kv-vopros/assets/images/tild3863-3839-4864-b438-633566343830__photo.svg" imgfield="tn_img_1762323782953" src="/themes/kv-vopros/assets/images/tild3863-3839-4864-b438-633566343830__photo.svg"/>
    </a>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176233199635139750" data-elem-id="176233199635139750" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-value="15" data-field-height-res-320-value="28" data-field-height-value="28" data-field-heightunits-value="px" data-field-left-res-320-value="1990" data-field-left-res-640-value="269" data-field-left-value="549" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-640-value="24" data-field-top-value="32" data-field-topunits-value="px" data-field-width-value="102" data-field-widthunits-value="px">
    <div class="tn-atom">
     <a href="/" style="color: inherit">
      Квартирный вопрос
     </a>
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176233199636760970" data-elem-id="176233199636760970" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-res-640-value="84" data-field-fontsize-value="165" data-field-height-res-320-value="152" data-field-height-value="298" data-field-heightunits-value="px" data-field-left-res-320-value="1990" data-field-left-res-640-value="41" data-field-left-value="33" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-640-value="350" data-field-top-value="140" data-field-topunits-value="px" data-field-width-res-640-value="558" data-field-width-value="1135" data-field-widthunits-value="px">
    <h1 class="tn-atom" field="tn_text_176233199636760970">
     Квартирный вопрос
    </h1>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176232364795290710" data-elem-id="176232364795290710" data-elem-type="text" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fontsize-res-320-value="8" data-field-fontsize-value="14" data-field-height-value="17" data-field-heightunits-value="px" data-field-left-res-320-value="1990" data-field-left-res-640-value="1945" data-field-left-value="125" data-field-leftunits-value="px" data-field-textfit-value="autoheight" data-field-top-res-640-value="-73" data-field-top-value="37" data-field-topunits-value="px" data-field-width-value="77" data-field-widthunits-value="px">
    <div class="tn-atom">
     <a href="/portfolio" style="color: inherit">
      Портфолио
     </a>
    </div>
   </div>
   <div class="t396__elem tn-elem tn-elem__15316767911762333316912" data-elem-id="1762333316912" data-elem-type="image" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fileheight-value="77" data-field-filewidth-value="282" data-field-height-res-320-value="30" data-field-height-res-640-value="3" data-field-height-value="3" data-field-heightmode-value="hug" data-field-heightunits-value="px" data-field-left-res-320-value="20" data-field-left-value="6365" data-field-leftunits-value="px" data-field-top-res-320-value="14" data-field-top-value="205" data-field-topunits-value="px" data-field-width-res-320-value="110" data-field-width-value="10" data-field-widthmode-res-320-value="fixed" data-field-widthmode-value="fixed" data-field-widthunits-value="px">
    <a class="tn-atom" href="/">
     <img alt="" class="tn-atom__img t-img" data-original="/themes/kv-vopros/assets/images/tild6435-3730-4332-b561-623465626532_____.svg" imgfield="tn_img_1762333316912" src="/themes/kv-vopros/assets/images/tild6435-3730-4332-b561-623465626532_____.svg"/>
    </a>
   </div>
   <div class="t396__elem tn-elem tn-elem__1531676791176233338131610010" data-elem-id="176233338131610010" data-elem-type="image" data-field-axisx-value="left" data-field-axisy-value="top" data-field-container-value="grid" data-field-fileheight-value="77" data-field-filewidth-value="282" data-field-height-res-320-value="77" data-field-height-res-640-value="3" data-field-height-value="3" data-field-heightmode-value="hug" data-field-heightunits-value="px" data-field-left-res-320-value="20" data-field-left-value="6365" data-field-leftunits-value="px" data-field-top-res-320-value="240" data-field-top-value="205" data-field-topunits-value="px" data-field-width-res-320-value="282" data-field-width-value="10" data-field-widthmode-res-320-value="fixed" data-field-widthmode-value="fixed" data-field-widthunits-value="px">
    <div class="tn-atom">
     <img alt="" class="tn-atom__img t-img" data-original="/themes/kv-vopros/assets/images/tild6435-3730-4332-b561-623465626532_____.svg" imgfield="tn_img_176233338131610010" src="/themes/kv-vopros/assets/images/tild6435-3730-4332-b561-623465626532_____.svg"/>
    </div>
   </div>
   <div class="services-dropdown" id="servicesDropdown">
    <a class="services-dropdown__item" href="/design-project">Ремонт по дизайн-проекту</a>
    <a class="services-dropdown__item" href="/repairs">Пакетный ремонт</a>
   </div>
  </div>
 </div>
 <style>
 #rec1531676791 .services-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  min-width: 240px;
  padding: 12px 0;
  margin: 0;
  background: #3e3c38;
  border-radius: 7px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
 }
 #rec1531676791 .services-dropdown.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
 }
 #rec1531676791 .services-dropdown__item {
  display: block;
  padding: 10px 16px;
  color: #ffffff;
  font-family: "Manrope", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
 }
 #rec1531676791 .services-dropdown__item:hover {
  color: #b9ea00;
 }
 </style>
 <script>
  t_onFuncLoad("t396_initialScale", function () {
                    t396_initialScale("1531676791");
                });
                t_onReady(function () {
                    t_onFuncLoad("t396_init", function () {
                        t396_init("1531676791");
                    });
                });
 </script>
 <script>
 document.addEventListener("DOMContentLoaded", function () {
  var servicesLink = document.querySelector("#rec1531676791 .services-link");
  var dropdown = document.getElementById("servicesDropdown");
  if (!servicesLink || !dropdown) return;

  function positionDropdown() {
   var rect = servicesLink.getBoundingClientRect();
   dropdown.style.left = rect.left + window.scrollX + "px";
   dropdown.style.top = rect.bottom + window.scrollY + 10 + "px";
  }

  function openDropdown() {
   dropdown.classList.add("is-open");
   servicesLink.setAttribute("aria-expanded", "true");
   positionDropdown();
  }

  function closeDropdown() {
   dropdown.classList.remove("is-open");
   servicesLink.setAttribute("aria-expanded", "false");
  }

  servicesLink.addEventListener("click", function (event) {
   event.preventDefault();
   if (dropdown.classList.contains("is-open")) {
    closeDropdown();
   } else {
    openDropdown();
   }
  });

  document.addEventListener("click", function (event) {
   if (dropdown.contains(event.target) || servicesLink.contains(event.target)) return;
   closeDropdown();
  });

  window.addEventListener("resize", function () {
   if (dropdown.classList.contains("is-open")) positionDropdown();
  });

  document.addEventListener("scroll", function () {
   if (dropdown.classList.contains("is-open")) positionDropdown();
  });
 });
 </script>
 <!-- /T396 -->
</div>
