<div class="portfolio-grid-wrapper">
    <h1 class="portfolio-title">Портфолио</h1>
    <div class="portfolio-tabs-container">
        <button class="portfolio-tab active" data-filter="all">Все</button>
        <button class="portfolio-tab" data-filter="design-project">Ремонт по дизайн проекту</button>
        <button class="portfolio-tab" data-filter="package-repair">Пакетный ремонт</button>
    </div>
    <div class="portfolio-grid-container">
        {% for case in cases %}
            <div class="portfolio-card-wrapper" data-category="{{ case.service_type }}">
                {% partial 'portfolio-card' title=case.title image=case.main_image.path link=('/portfolio/' ~ case.slug) %}
            </div>
        {% endfor %}
    </div>
    {% if cases.count > 0 %}
    <div class="portfolio-show-more-wrapper">
        <button class="portfolio-show-more">
            <span>Показать еще</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 5V19M12 19L19 12M12 19L5 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
    {% endif %}
</div>